.bg-input-password {
  .label {
    font-size: 0.875rem; //14px
    font-weight: 500;
  }

  .input-password-container {
    .p-icon {
      color: map-get($theme-colors, 'decision-azul-ultramar-p40') !important;
    }
  }

  .p-password-input {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;

    background: map-get($theme-colors, 'decision-athens-gray');

    color: map-get($theme-colors, 'decision-scorpion-gray');

    font-size: 1rem; //16px
    font-weight: 500;

    padding: 1rem; //16px
  }

  .invalid.p-password-input {
    border: 1px solid map-get($theme-colors, 'decision-carnation-red') !important;
  }

  .error-message {
    font-size: 0.75rem; //12px
  }
}
